.main-add{
    background-color: black;
    color: white;
    width: 20%;
    height: 40px;
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 999;
    padding: 2%;
    border: 1px solid blue;
    border-radius: 10px;
}